<aside class="aside bg-body-tertiary border-end py-3 overflow-auto">
    <div class="container">
        <ul class="mb-4 p-0 m-0">
            <li><a class="fs-5 text-black d-block pb-2 border-bottom" href="/">Главная</a></li>
            <li><a class="fs-5 text-black d-block pb-2 border-bottom" href="/top-books">Топ 500 книг</a></li>
            <li><a class="fs-5 text-black d-block pb-2 border-bottom" href="/audio-books">Аудио книги</a></li>
            <li><a class="fs-5 text-black d-block pb-2 border-bottom" href="/texts-books">Электронные книги</a></li>
        </ul>
        <div>
            <h3 class="fs-5 fw-semibold">Жанры</h3>
            <div class="accordion" id="accordionExample">
                <% genres.forEach(genre=> { %>
                    <div class="accordion-item">
                        <h4 class="accordion-header fs-6">
                            <button class="accordion-button collapsed fw-medium fs-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#<%= genre.id %>" aria-expanded="false" aria-controls="<%= genre.id %>">
                                <%= genre.title %>
                            </button>
                        </h4>
                        <div id="<%= genre.id %>" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExample">
                            <% genre.SubGenres.forEach((subgenre)=> { %>
                                <div class="accordion-body p-2">
                                    <h5 class="fs-6 m-0"><a class="text-black fw-semibold" href="/genre/<%= subgenre.id %>">
                                            <%= subgenre.title %>
                                        </a></h5>
                                    <% if (subgenre.MicroGenres && subgenre.MicroGenres.length) { %>
                                        <ul class="ps-2 mb-0 mt-1">
                                            <% subgenre.MicroGenres.forEach((microGenre)=> { %>
                                                <li>
                                                    <a href="/genre/<%= microGenre.id %>" class="fs-6 text-light-emphasis">
                                                        <%= microGenre.title %>
                                                    </a>
                                                </li>
                                                <% }) %>
                                        </ul>
                                        <% } %>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
</aside>